<bj-header></bj-header>
<div class="grid-container"> <!-- main layout -->

	<section class="main-container-summaries grid-cell grid-cell-9 grid-sep-right-02">

		<div ng-if="msgText" class="fade">
			<tbj-messages msg='{{msgText}}' display='{{msgShow}}' type-msg='{{msgType}}'></tbj-messages>
		</div>

		<div ng-if="allPosts==='loading'">
            <tbj-spinner></tbj-spinner>
		</div>

		<!-- slider :: todo -->
		<div ng-if="allPosts!=='loading'" class="slider-main-container grid-container box-standar box-slider fade">
			<article class='box-standar box-slider grid-row' ng-repeat="post in allPostsSlider">
				<div class='img-container grid-cell grid-cell-6' id='js-imgDest'>
					<a ui-sref="articles({id:post.name})">
						<img ng-src="{{post.thumbnail}}" class="img-responsive img-links">
					</a>
				</div>
				<div class='content grid-cell grid-cell-6'>
					<header class='title'>
						<a ui-sref="articles({id:post.name})">{{post.title}}</a>
					</header>
					<p class='summary' ng-bind-html="post.sumary"></p>
					<aside class='complementary'>
						<span itemprop='about'>{{post.category}} | {{post.date}}</span>
					</aside>
				</div>
			</article>
		</div>	

		<nav class="secondary-nav" id="js-secondaryNav" ng-if="allPosts!=='loading'">
			<span class="icon-cogs icon"></span>
			<div class="categories">
				<span class="link" ng-click="actions.setCat('all');">todas</span> <span class="sep">|</span> 
				<span class="link" ng-click="actions.setCat('internet');">internet</span> <span class="sep">|</span> 
				<span class="link" ng-click="actions.setCat('javascript');">javascript</span> <span class="sep">|</span> 
				<span class="link" ng-click="actions.setCat('php');">php</span> <span class="sep">|</span>
				<span class="link" ng-click="actions.setCat('wordpress');">wordpress</span> <span class="sep">|</span>
				<span class="link" ng-click="actions.setCat('html');">html</span> <span class="sep">|</span>
				<span class="link" ng-click="actions.setCat('electronica');">electrónica</span> <span class="sep">|</span> 
				<span class="link" ng-click="actions.setCat('varios');">varios</span>                                
			</div>
			<div class="pagination fade">
				<span ng-click="actions.setPag(item.key)" ng-repeat="item in allPags" ng-class="{'active': item.key == actions.getPagActive()}">
					{{item.value}}
				</span>
			</div> 
		</nav>

	  	<div ng-if="allPosts!=='loading'" class="flex-container fade">
	  		<div class='flex-col-4 fade' ng-repeat="post in allPosts">
				<article class='box-summary box-standar'>
					<div class='img-container'>
						<a ui-sref="articles({id:post.name})">
							<img ng-src="{{post.thumbnail}}">
						</a>
					</div>
					<header class='title'>
						<a ui-sref="articles({id:post.name})">{{post.title}}</a>
					</header>
					<div class='summary' ng-bind-html="post.sumary"></div>
				</article>
			</div>
	  	</div> <!-- #grid sumaries -->

	  <div class="end-layout">
			<img src="app/styles/img/remate_gris.png">
	  </div>

	</section>
	<bj-main-sidebar></bj-main-sidebar>
</div>

<bj-footer></bj-footer>
