<bj-header></bj-header>
<div class="grid-container">
    <section class="main-container-summaries grid-cell grid-cell-9 grid-sep-right-02">

        <div ng-if="msgText" class="fade">
            <tbj-messages msg='{{msgText}}' display='{{msgShow}}' type-msg='{{msgType}}'></tbj-messages>
        </div>

        <article ng-if="results=='none'" ng-include src="'app/partials/no-results.html'">
        </article>

        <div ng-if="allPost.basicData === 'pending'">
            <tbj-spinner></tbj-spinner>
        </div>

         <article ng-if="results!='none' && allPost.basicData !== 'pending'" id="post-{{post.id}}" class="articles fade" itemscope itemtype="http://schema.org/Article">

            <header class="header-articles">
                <div class="layout flex-container"> 
                    <div class="text-block flex-col-7">           
                        <h2 class="title" id="js-articleTitle">
                            <span itemprop="name">{{allPost.basicData.title}}</span>
                        </h2>            
                        <p class="summary">
                            <span itemprop="description">{{allPost.basicData.sumary}}</span>
                        </p>
                    </div>
                    <div class="img-block flex-col-5">
                        <img ng-src="{{allPost.basicData.thumbnail}}" class="img-responsive">
                        <p class="caption-image">
                            {{allPost.basicData.thumbnailCap}}
                        </p>
                    </div>      
                    <meta itemprop="image" content="{{allPost.basicData.thumbnail}}">
                </div>
                <div class="aside">
                   archivado en:
                    <a ui-sref="archive({type: 'category', id: allPost.basicData.idCategory})">
                        <span itemprop="about">{{allPost.basicData.category}}</span>
                    </a>
                    <span ng-if="allPost.basicData.workshop !== ''">
                        &raquo; 
                        <a ui-sref="archive({type: 'workshop', id: allPost.basicData.idWorkshop})">
                         {{allPost.basicData.workshop}}
                        </a>
                    </span>
                    <meta itemprop="datePublished" content="{{allPost.basicData.dateInit}}">
                     ({{allPost.basicData.date}})
                    <div class="pull-right actions">
                        <span class="icon-search-minus icon-link link" id="js-zoomMin" ng-click="zoomArticles = zoomArticles - 0.1"></span>
                        <span class="icon-search-plus icon-link link" id="js-zoomMax" ng-click="zoomArticles = zoomArticles + 0.1"></span>
                    </div> 
                </div>
            </header>

            <div class="article-content" id="js-articleBody">
                <div ng-if="allPost.contentData === 'pending'">
                    <tbj-spinner></tbj-spinner>
                </div>
                <div class="fade-ajax-out" ng-class="{'fade-ajax-in': allPost.contentData !== 'pending'}" style="zoom:{{zoomArticles}};">
                    <span itemprop="articleBody" ng-if="allPost.contentData !== 'pending'" ng-bind-html="allPost.contentData | htmlContent">                
                    </span>
                </div>
            </div>

            <div class="end-layout">
                <img src="app/styles/img/remate_gris.png">
            </div>

            <footer>    
                <p class="border-grey">  
                    <span itemprop="author"><a href="https://twitter.com/mmfilesi">@mmfilesi</a></span> &#124;&#124;
                    Tags: 
                    <span itemprop="keywords">
                        <span ng-repeat="tag in allPost.basicData.tags" class="fade">
                            <a ui-sref="archive({type: 'tags', id: tag.slug})">{{tag.name}}</a>,
                        </span>
                  </span> 
                </p>
            </footer>

        </article>

    </section>

    <bj-main-sidebar></bj-main-sidebar>

</div>

<bj-footer></bj-footer>
